@use 'src/app/styles/utils/variables' as *;
@use 'src/app/styles/utils/media' as *;

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;

  @include media-tablet {
    grid-template-columns: 1fr;
  }

  &__btns {
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    margin-top: 10px;

    @include media-tablet {
      grid-column: unset;
    }

    button {
      padding: 10px 24px;

      @include media-tablet {
        padding: 8px 20px;
      }
    }
  }

  &__checkbox {
    grid-column: span 2;
    max-width: 650px;

    @include media-tablet {
      grid-column: unset;
    }
  }

  &__foot {
    margin-top: 25px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid $grey40;

    a {
      display: inline;
      width: fit-content;
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__error {
    margin-top: 12px;
    color: $error;
    text-align: center;
  }
}
