@use 'src/app/styles/utils/variables' as *;
@use 'src/app/styles/utils/media' as *;

.card {
  position: relative;

  padding: 16px;

  background-color: $white;
  border: 1.5px solid $grey40;
  border-radius: 8px;

  @include media-tablet {
    padding: 12px;
  }

  &__buttons {
    display: flex;
    flex-shrink: 0;
    gap: 8px;
  }

  &__name {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    margin-bottom: 12px;
    padding-bottom: 12px;

    border-bottom: 1px solid $grey40;

    @include media-tablet {
      margin-bottom: 8px;
      padding-bottom: 8px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__date {
    color: $grey80;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__docs {
    margin-top: 4px;
    margin-left: 12px;
  }

  &__doc {
    color: $error;

    &::before {
      color: $error;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &_approved {
      color: $success;

      &::before {
        color: $success;
      }
    }
  }
}

.modal {
  &__buttons {
    display: flex;
    gap: 8px;
    margin-top: 12px;

    button {
      flex: 1;
      padding: 10px 24px;

      @include media-tablet {
        padding: 8px 20px;
      }
    }
  }

  &__title {
    padding-right: 24px;
  }
}
