:root {
  --success: #00cf00;
}

// fonts
$font: 'Circe', 'Arial', sans-serif;

// colors
$black: #272727;
$black-50: #45464f;
$primary: #0054e6;
$primary-40: #0276ea;
$primary-50: #2e92f7;
$secondary: #ff8000;
$secondary-2: #fba148;
$grey40: #e3e3e3;
$grey50: #e2e1ec;
$grey60: #a7a7a7;
$grey80: #7d7d7d;
$ghost: #d6dcea;
$bg: #f6f7f8;
$white: #ffffff;
$error: rgb(244, 65, 65);
$error-10: rgba(244 65 65 / 0.1);
$error-20: rgba(244 65 65 / 0.2);
$success: var(--success);

// shadows
$smallShadow: 0 3px 15px rgb(135 151 155 / 0.25);
$lightSmallShadow: 0 3px 15px rgb(135 151 155 / 0.15);
$bigShadow: 0 3px 30px rgb(135 151 155 / 0.25);
$lightBigShadow: 0 3px 30px rgb(135 151 155 / 0.15);

// media
$mediaWidthTablet: 1259px;
$mediaWidthMob: 767px;
$mediaWidthMid: 1430px;

// z-index
