@use 'src/app/styles/utils/variables' as *;
@use 'src/app/styles/utils/media' as *;

.regWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  & > div {
    @include media-tablet {
      width: 100%;
    }
  }
}

.reg {
  position: relative;

  &__title {
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    width: fit-content;
    margin: 0 auto;

    @include media-tablet {
      gap: 20px;
      width: 100%;
    }
  }

  &__logo {
    width: 300px;
    color: $primary;

    @include media-laptop {
      width: 280px;
    }

    @include media-tablet {
      width: 240px;
    }

    &:hover {
      color: $primary-50;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__tabs {
    width: 100%;
  }

  &__back {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: 0;

    transition: all 0.3s ease;

    @include media-hover {
      &:hover {
        color: $primary-50;
      }
    }
  }
}
