@use 'src/app/styles/utils/variables' as *;
@use 'src/app/styles/utils/media' as *;

.login {
  display: flex;
  gap: 15px;

  width: 500px;
  padding: 30px 40px;

  background-color: $white;
  border-radius: 10px;

  @include media-tablet {
    width: 100%;
    padding: 30px 12px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    button,
    a {
      padding: 10px 24px;

      @include media-tablet {
        padding: 8px 20px;
      }
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-top: 25px;
    padding-top: 20px;

    text-align: center;

    border-top: 1px solid $grey40;
  }

  &__reg {
    background: $secondary-2;

    @include media-hover {
      background: $secondary;
    }
  }

  &__error {
    margin-top: 12px;
    color: $error;
    text-align: center;
  }
}
