@use 'src/app/styles/utils/variables' as *;
@use 'src/app/styles/utils/media' as *;

.container {
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include media-custom(1023px) {
      gap: 10px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    @include media-custom(1023px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    margin-top: 60px;

    text-align: center;

    @include media-laptop {
      margin-top: 0;
    }

    @include media-tablet {
      gap: 8px;
    }

    svg {
      width: 70px;
      height: 70px;

      @include media-tablet {
        width: 60px;
        height: 60px;
      }
    }

    &Text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__btn {
    margin: 0 auto;
    padding: 10px 24px;

    @include media-tablet {
      padding: 8px 20px;
    }
  }
}
