@use '@/app/styles/utils/variables' as *;
@use '@/app/styles/utils/media' as *;

.contacts {
  position: relative;

  min-height: 300px;
  padding: 30px 390px 30px 40px;

  background: $ghost;
  border-radius: 10px;

  @include media-laptop {
    padding: 25px 330px 25px 30px;
  }

  @include media-tablet {
    padding: 20px 20px 240px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__image {
    position: absolute;
    right: 40px;
    bottom: 0;

    width: 100%;
    max-width: 300px;

    @include media-laptop {
      right: 30px;
      max-width: 280px;
    }

    @include media-tablet {
      right: 50%;
      transform: translateX(50%);
      max-width: 250px;
    }
  }

  &__btn {
    margin-top: 60px;

    @include media-laptop {
      margin-top: 50px;
    }

    @include media-tablet {
      margin-top: 30px;
    }
  }
}
