@use '@/app/styles/utils/variables' as *;
@use '@/app/styles/utils/media' as *;

.container {
  position: relative;
  background: $primary;

  &__wrapper {
    align-items: stretch;
  }

  &__slider {
    &_multiple {
      .container__slide {
        > div {
          @include media-tablet {
            padding-bottom: 40px !important;
          }
        }
      }
    }
  }

  &__slide {
    box-sizing: border-box;
    height: auto !important;
  }

  &__buttons {
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 20px;

    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__next,
  &__prev {
    pointer-events: all;
    cursor: pointer;

    position: relative;

    width: 40px;
    height: 40px;

    background: #ffffff;
    border: 1px solid $grey40;
    border-radius: 6px;
    box-shadow: $smallShadow;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translateY(-50%) translateX(50%);
      transform: translateY(-50%) translateX(50%);

      width: 15px;
      height: 12px;

      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__next {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.11115 10.4445L13.5556 6.00001M13.5556 6.00001L9.11115 1.55557M13.5556 6.00001L1.33337 6.00001' stroke='%23373A36' stroke-width='1.25' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
  }

  &__prev {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.88885 1.55554L1.4444 5.99999M1.4444 5.99999L5.88885 10.4444M1.4444 5.99999L13.6666 5.99999' stroke='%23373A36' stroke-width='1.25' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
  }
}
