@use '@/app/styles/utils/variables' as *;
@use '@/app/styles/utils/media' as *;

.button {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

  padding: 13px 48px;

  color: $white;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  text-wrap: nowrap;

  background: $primary-50;
  border: 0;
  border-radius: 4px;

  transition: all 0.3s;

  @include media-tablet {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include media-hover {
    text-decoration: none;
    background: $primary-40;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }

  &[disabled] {
    cursor: default;
    color: $black;
    background: $grey50;
  }

  &__icon {
    flex-shrink: 0;
    width: 18px;
    height: 18px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_mob-w100 {
    @include media-tablet {
      width: 100%;
    }
  }

  &_pd-s {
    padding: 10px 36px;
  }

  &_pd-xs {
    padding: 6px 20px;
  }

  &_empty {
    color: $primary;
    background: transparent;
    border: 2px solid $primary;

    @include media-hover {
      color: $primary-50;
      background: transparent;
      border-color: $primary-50;
    }

    &.button_hover_filled {
      @include media-hover {
        color: $white;
        background: $primary-40;
        border-color: $primary-40;
      }
    }
  }

  &_white {
    color: $primary-50;
    background: $white;
    border: 2px solid $white;

    @include media-hover {
      color: $primary;
      background: $white;
      box-shadow: $bigShadow;
    }

    &.button_hover_filled {
      @include media-hover {
        color: $white;
        background: $primary-40;
        border-color: $primary-40;
      }
    }
  }

  &_red {
    color: $white;
    background: $error;

    @include media-hover {
      color: $error;
      background: $error-30;
    }
  }

  &_red_text {
    color: $white;
    background: $error;

    @include media-hover {
      color: $error;
      background: $error-30;
    }
  }

  &_outline {
    padding: 0;
    color: $primary;
    background: transparent;
    border: 0;

    span {
      line-height: 1;
    }

    &:hover {
      color: $primary-50;
      background: none;
    }
  }

  &_loading {
    pointer-events: none;

    &::before {
      content: '';

      position: absolute;
      top: calc(50% - 11px);
      left: calc(50% - 11px);

      width: 22px;
      height: 22px;

      background: transparent;
      border: 2px solid $white;
      border-bottom-color: transparent;
      border-radius: 50%;

      animation: rotation 1s linear infinite;
    }

    span {
      opacity: 0;
    }
  }

  &_icon {
    width: 42px;
    height: 42px;
    padding: 0;

    @include media-laptop {
      width: 36px;
      height: 36px;
    }

    @include media-tablet {
      width: 30px;
      height: 30px;
    }

    .button__icon {
      width: 25px;
      height: 25px;

      @include media-laptop {
        width: 24px;
        height: 24px;
      }

      @include media-tablet {
        width: 18px;
        height: 18px;
      }
    }
  }

  &_shadow_none {
    box-shadow: none;
  }

  &_icon_xs {
    width: 36px;
    height: 36px;
    padding: 0;

    @include media-laptop {
      width: 32px;
      height: 32px;
    }

    @include media-tablet {
      width: 26px;
      height: 26px;
    }

    .button__icon {
      width: 22px;
      height: 22px;

      @include media-laptop {
        width: 18px;
        height: 18px;
      }

      @include media-tablet {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
