@use 'src/app/styles/utils/variables' as *;
@use 'src/app/styles/utils/media' as *;

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  width: 100%;
  min-width: 50vw;

  @include media-laptop {
    min-width: 70vw;
  }

  @include media-tablet {
    grid-template-columns: 1fr;
    min-width: 80vw;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  &__colspan2 {
    grid-column: span 2;

    @include media-tablet {
      grid-column: unset;
    }
  }

  &__btns {
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    margin-top: 10px;

    @include media-tablet {
      grid-column: unset;
    }

    button {
      padding: 10px 24px;

      @include media-tablet {
        padding: 8px 20px;
      }
    }
  }

  &__error {
    margin-top: 12px;
    color: $error;
    text-align: center;
  }

  .select {
    grid-column: span 2;

    > div {
      height: 50px;

      ~ div {
        height: fit-content;
      }
    }

    @include media-tablet {
      grid-column: unset;
    }
  }
}
