/* stylelint-disable block-no-empty */
@use '@/app/styles/utils/variables' as *;
@use '@/app/styles/utils/media' as *;

.input {
  --p-left: 16px;
  --p-right: 16px;
  --label-p-x: 4px;

  position: relative;

  input {
    width: 100%;
    padding: 13px var(--p-right) 13px var(--p-left);

    line-height: 15px;
    color: $black;

    background: $white;
    border: 0;
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 0 0 1px $grey40;

    transition: all 0.3s;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px $primary-50;

      ~ label {
        top: -15px;
        left: 0;
        transform: translateY(0);

        font-size: 12px;
        color: $grey80;

        background: transparent;
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.15;
      background: $grey80;
      box-shadow: none;
    }

    @keyframes onAutoFillStart {
    }

    @keyframes onAutoFillCancel {
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      ~ label {
        top: -15px;
        left: 0;
        transform: translateY(0);

        font-size: 12px;

        background: transparent;
      }
    }

    &:-webkit-autofill {
      animation-name: onAutoFillStart;
    }

    &:not(:-webkit-autofill) {
      animation-name: onAutoFillCancel;
    }

    &[type='date'] {
      padding-right: 20px;

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;

        width: 18px;
        height: 18px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 2C6 1.44772 6.44772 1 7 1C7.55228 1 8 1.44772 8 2V3H16V2C16 1.44772 16.4477 1 17 1C17.5523 1 18 1.44772 18 2V3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6C2 4.34315 3.34315 3 5 3H6V2ZM16 5V6C16 6.55228 16.4477 7 17 7C17.5523 7 18 6.55228 18 6V5H19C19.5523 5 20 5.44772 20 6V9H4V6C4 5.44772 4.44772 5 5 5H6V6C6 6.55228 6.44772 7 7 7C7.55228 7 8 6.55228 8 6V5H16ZM4 11V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V11H4Z' fill='%230054e6'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  label {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: calc(var(--p-left) - var(--label-p-x));
    transform: translateY(-50%);

    overflow: hidden;

    max-width: calc(100% - var(--p-left) - var(--p-right));

    color: $grey80;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all 0.3s;
  }

  &__error {
    margin-top: 4px;
    color: $error;
  }

  &__toggle {
    pointer-events: all;
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    padding: 0;

    background: none;
    border: 0;
    outline: none;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_invalid {
    input {
      box-shadow: inset 0 0 0 1px $error;
    }

    label {
      color: $error;
    }
  }

  &_filled {
    input {
      ~ label {
        top: -15px;
        left: 0;
        transform: translateY(0);

        font-size: 12px;

        background: transparent;
      }
    }
  }

  &_password {
    input {
      padding-right: 50px;
    }
  }

  &__files {
    display: flex;
    flex-wrap: wrap;
  }

  &__file {
    display: flex;
    align-items: center;

    max-width: 248px;
    margin: 4px;
    padding: 4px 10px;

    color: $black;
    white-space: nowrap;

    background: $ghost-50;
    border-radius: 4px;

    &-name {
      overflow: hidden;
      margin-right: 2px;
      text-overflow: ellipsis;
    }

    &-delete {
      cursor: pointer;

      flex-shrink: 0;

      width: 24px;
      height: 24px;
      margin-left: 4px;
      padding: 0;

      background: none;
      border: 0;
    }
  }

  &_file {
    input {
      pointer-events: none;

      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;

      &.filled,
      &:focus {
        ~ label {
          top: unset;
          transform: unset;

          font-size: unset;

          background: unset;
          border-radius: 0;
        }
      }

      &.filled {
        ~ label {
          margin-top: 24px;
        }
      }

      &:focus {
        box-shadow: none;
      }
    }

    label {
      pointer-events: unset;
      cursor: pointer;

      position: relative;
      top: 0;
      left: 0;
      transform: none;

      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: unset;
      padding: 50px;

      text-align: center;
      white-space: unset;

      border: 1px dashed $primary;
      border-radius: 5px;

      @include media-laptop {
        padding: 40px;
      }

      @include media-tablet {
        padding: 30px 20px;
      }
    }

    .ui-p2 {
      span {
        display: block;
      }
    }
  }
}
