@use '@/app/styles/utils/variables' as *;
@use '@/app/styles/utils/media' as *;

.header {
  padding-top: 8px;

  @include media-laptop {
    padding-top: 4px;
  }

  &__topWrapper {
    padding-bottom: 8px;
    border-bottom: 1px solid $grey40;

    @include media-laptop {
      padding-bottom: 0;
      border: 0;
    }
  }

  &__top {
    display: flex;
    gap: 20px;
    align-items: center;

    @include media-tablet {
      gap: 10px;
    }

    &Menu {
      display: flex;
      gap: 20px;
      align-items: center;

      @include media-laptop {
        display: none;
      }
    }

    &Item {
      a {
        color: $black;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }

      &_active {
        a {
          color: $primary;
        }
      }
    }

    &Right {
      display: flex;
      gap: 24px;
      align-items: center;
      margin-left: auto;

      @include media-laptop {
        gap: 20px;
      }

      @include media-tablet {
        gap: 16px;
      }
    }
  }

  &__login {
    @include media-tablet {
      display: none;
    }
  }

  &__tel {
    display: flex;
    gap: 4px;
    align-items: center;
    color: $primary;

    @include media-laptop {
      display: none;
    }

    &:hover {
      color: $primary-50;
      text-decoration: none;
    }

    svg {
      flex-shrink: 0;
      width: 18px;
      height: 50px;
    }
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    width: 175px;
    height: 58px;

    @include media-tablet {
      width: 135px;
      height: 46px;
    }

    svg {
      width: 100%;
      height: 100%;
      color: $primary;
      transition: 0.3s all;
    }

    @include media-hover {
      svg {
        color: $primary-50;
      }
    }
  }

  &__bot {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    @include media-laptop {
      display: none;
    }

    &Menu {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    &Item {
      cursor: pointer;
      padding: 20px 0;
      color: $black;
      transition: all 0.3s;

      &:hover {
        color: $primary;

        .header__dropdown {
          pointer-events: all;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__insurance {
    display: flex;
    gap: 4px;
    align-items: center;

    margin-left: auto;

    color: $secondary-2;

    &:hover {
      text-decoration: none;
    }

    @include media-hover {
      color: $secondary;
      text-decoration: none;
    }

    span {
      @include media-tablet {
        font-size: 15px;
      }
    }

    svg {
      flex-shrink: 0;
      width: 22px;
      height: 22px;

      @include media-laptop {
        width: 20px;
        height: 20px;
      }

      @include media-tablet {
        width: 18px;
        height: 18px;
      }
    }

    &_mob {
      display: none;
      color: $secondary;

      @include media-laptop {
        display: flex;
      }
    }
  }
}
