@use 'src/app/styles/utils/variables' as *;
@use 'src/app/styles/utils/media' as *;

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;

  @include media-tablet {
    grid-template-columns: 1fr;
  }

  &__colspan2 {
    grid-column: span 2;

    @include media-tablet {
      grid-column: unset;
    }
  }

  &__btns {
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    margin-top: 10px;

    @include media-tablet {
      grid-column: unset;
    }

    button {
      padding: 10px 24px;

      @include media-tablet {
        padding: 8px 20px;
      }
    }
  }

  &__error {
    margin-top: 12px;
    color: $error;
    text-align: center;
  }
}
