@use '@/app/styles/utils/variables' as *;
@use '@/app/styles/utils/media' as *;

.banner {
  height: 100%;
  color: $white;
  background: $primary;

  &__inner {
    height: 100%;
  }

  &__body {
    position: relative;

    display: flex;
    gap: 30px;
    justify-content: space-between;

    height: 100%;

    @include media-laptop {
      gap: 15px;
    }

    @include media-tablet {
      flex-direction: column-reverse;
      gap: 0;
      justify-content: flex-end;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;

    max-width: 650px;
    padding: 60px 0 60px;

    @include media-laptop {
      gap: 28px;
      max-width: 500px;
      padding: 40px 0 60px;
    }

    @include media-tablet {
      gap: 20px;
      max-width: unset;
      height: 100%;
      padding: 0 0 30px;
    }

    h1 {
      font-size: 48px;
      line-height: 120%;

      @include media-laptop {
        font-size: 36px;
      }

      @include media-tablet {
        font-size: 28px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include media-laptop {
      gap: 8px;
    }
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 480px;

    @include media-laptop {
      max-width: 350px;
    }

    @include media-tablet {
      justify-content: center;
      margin: 0 auto;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__button {
    width: fit-content;
  }
}
